.wrapper {
  cursor: pointer;
}

.icon {
  font-size: 3em;
}

.wrapper:hover .icon {
  animation: disco;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes disco {
  0%   {
    transform: skew(10grad);
    color: #ee6e73;
  }
  25% {
    transform: skew(0.1turn,-10grad);
    color: #9ccc65;
  }
  50%  {
    transform: skew(0, 10grad);
    color: #82b1ff;
  }
  75% {
    transform: skew(20grad);
    color: orangered;
  }
  100% {
    color: blueviolet;
  }
}
