.container {
  display: flex;
  align-content: center;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.20);
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.ava {
  padding: 10px;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}

.artistHeader {
  font-weight: bold;
}

.trackHeader {
  font-style: italic;
}
