.btn {
  background-color: #0c514a36;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(12, 81, 74, 0.04);
  color: rgba(0, 0, 0, 0.66);
  font-size: 1.2em;
}
